/*Header Section*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px black solid;
}

header p {
  color: MediumAquamarine;
  margin: 10px;
}

div.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

nav {
  display: inline-block;
  margin-right: 20px;
}

a {
  margin: 5px;
  color: black;
}

/*Main Section*/

main {
  display: flex;
  justify-content: space-around;
}

main section {
  border: 2px solid black;
}

div.col-1,
div.col-2,
div.col.3 {
  display: flex;
  flex-direction: column;
}

div.col-1 {
  width: 630px;
}

div.col-2 {
  width: 300px;
}

div.col-3 {
  width: 240px;
}

/*Col-1 Section*/

div.headline {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png)
}

div.headline h1 {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

div.headline-content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
